.mor{
    color: #EC4067;
    font-weight: bolder !important;
    
}

.nav{
    font-family: 'Nunito', sans-serif;
    display: flex;
    
}

.btn{
    background-color: #EC4067;
    text-emphasis-color: white;
}

.header_right{
    float: right;
}

.header_right ul ol{
    display: inline-block;
    padding: 0px 10px;
    text-align: right;

}

p{
    text-align: left;
}